# advanced settings for window manager
{% if potos_dconf_20_advanced_wm_settings is defined and potos_dconf_20_advanced_wm_settings %}

[org/gnome/desktop/peripherals/touchpad]
click-method='areas'

[org/gnome/desktop/peripherals/mouse]
accel-profile='flat'

[org/gnome/shell/extensions/ding]
show-home=false

[org/gnome/shell/extensions/dash-to-dock]
show-trash=false

[org/gnome/desktop/calendar]
show-weekdate=true

# this setting is only applied after a relogin
# find avilable layouts/variants with:
# localectl list-x11-keymap-layouts
# localectl list-x11-keymap-variants ch
[org/gnome/desktop/input-sources]
sources=[('xkb', 'ch+de_nodeadkeys'), ('xkb', 'ch'), ('xkb', 'us')]
{% else %}
# set potos_dconf_20_advanced_wm_settings to enable
{% endif %}

